<h1 class="text-center m-lg-4 ap">ADMIN PANEL</h1>
<marquee width="100%" direction="right" scrollamount="07" class="marquee">
  <h3 class="text-center">
    &#11088; Movies Running Today: <span class="numbers">{{runningMovies}}</span> &#10024;
    Seats booked today: <span class="numbers">{{bookingsToday}} &#11088;</span>
  </h3>
</marquee>
<div class="container-fluid">
  <div
    class="
      container
      d-flex
      flex-column
      justify-content-center
      align-content-center
    "
  >
    <div
      class="d-flex m-lg-2 justify-content-center align-items-center flex-wrap"
    >
      <div class="card text-white bg-success m-3 user">
        <a class="text-white" routerLink="users" style="text-decoration: none">
          <div class="card-body">
            <h3 class="card-header-pills">Users</h3>
            <h4 class="card-text">{{totalUsers}}</h4>
            <h5 class="text-end card-footer-col">More info <i class="fa fa-info-circle" aria-hidden="true"></i></h5>
          </div>
        </a>
      </div>
      <div class="card text-white bg-success m-3 theatre">
        <a
          class="text-white"
          routerLink="theatre"
          style="text-decoration: none"
        >
          <div class="card-body">
            <h3 class="card-header-pills">Theatres</h3>
            <h4 class="card-text">{{totalTheatres}}</h4>
            <h5 class="text-end card-footer-col">More info <i class="fa fa-info-circle" aria-hidden="true"></i></h5>
          </div>
        </a>
      </div>
      <div class="card text-dark bg-success m-3 movies">
        <a class="text-white" routerLink="allmovie" style="text-decoration: none">
          <div class="card-body">
            <h3 class="card-header-pills">Movies</h3>
            <h4 class="card-text">{{totalMovies}}</h4>
            <h5 class="text-end card-footer-col">More info <i class="fa fa-info-circle" aria-hidden="true"></i></h5>
          </div>
        </a>
      </div>
      <div class="card text-white bg-success m-3 seats">
        <a class="text-white" routerLink="booked" style="text-decoration: none">
          <div class="card-body">
            <h3 class="card-header-pills">Bookings</h3>
            <h4 class="card-text">{{totalBooking}}</h4>
            <h6 class="card-text">(Under Development.)</h6>
            <h5 class="text-end card-footer-col">More info <i class="fa fa-info-circle" aria-hidden="true"></i></h5>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
