<h2 class="m-3 text-decoration-underline text-center" *ngIf="isAdd">Add New Screen</h2>
<h2 class="m-3 text-decoration-underline text-center" *ngIf="!isAdd">Edit Screen</h2>
<div class="container">
  <form (ngSubmit)="submit()">
    <div class="form-group" *ngIf="isAdd">
      <label> ScreenId </label>
      <input
        type="text"
        class="form-control"
        name="screenId"
        [(ngModel)]="screen.screenId"
        #screenId="ngModel"
        required
      />
      <div [hidden]="screenId.valid" class="alert alert-danger">
        Screen Id is Required
      </div>
    </div>

    <div class="form-group">
      <label>Screen Name</label>
      <input
        type="text"
        class="form-control"
        name="screenName"
        [(ngModel)]="screen.screenName"
        #screenName="ngModel"
        required
      />
      <div [hidden]="screenName.valid" class="alert alert-danger">
        Screen Name is Required
      </div>
    </div>
    <div class="form-group">
      <label>Number of Seats</label>
      <select
        class="form-select"
        name="seat"
        [(ngModel)]="screen.seat"
        #seat="ngModel"
        required
      >
        <option>50</option>
        <option>70</option>
        <option>80</option>
        <option>100</option>
        <option>120</option>
        <option>150</option>
      </select>
      <div [hidden]="seat.valid" class="alert alert-danger">
        Number of seats is Required
      </div>
    </div>
    <div class="form-group m-3">
      <div class="d-flex justify-content-center">
        <button type="submit" [disabled]="!(screenName.valid && seat.valid)" class="btn btn-primary">
          {{ toDo }}
        </button>&nbsp; &nbsp;
        <button type="button" (click)="cancel()" class="btn btn-primary">
          Cancel
        </button>
        &nbsp; &nbsp;
        <!-- (click)="delete()" -->
        <button type="button" class="btn btn-danger" *ngIf="!isAdd">Delete<i
            class="fa fa-trash pull-right m-1"
            title="Delete"
          ></i></button>
      </div>
    </div>
  </form>
</div>
