<h2 class="m-3 text-decoration-underline text-center" *ngIf="isAdd">
  Add New MovieShow
</h2>
<h2 class="m-3 text-decoration-underline text-center" *ngIf="!isAdd">
  Edit MovieShow
</h2>
<div class="m-2 d-flex justify-content-center flex-wrap" *ngIf="isAdd">
  <div class="col-sm-8 col-lg-3 m-2">
    <div class="form-floating">
      <select
        class="form-select"
        id="floatingSelectGrid"
        [(ngModel)]="filterTheatre"
        (ngModelChange)="filter()"
      >
        <option value="All" selected>All Cities</option>
        <option value="Bengaluru">Bengaluru</option>
        <option value="Mysuru">Mysuru</option>
        <option value="Mumbai">Mumbai</option>
        <option value="Hyderabad">Hyderabad</option>
        <option value="Chennai">Chennai</option>
      </select>
      <label for="floatingSelectGrid">Select the City</label>
    </div>
  </div>
  <div class="col-sm-8 col-lg-5 m-2">
    <div class="form-floating">
      <select
        class="form-select"
        id="floatingSelectGrid"
        [(ngModel)]="filterScreen"
        (ngModelChange)="filterScreens()"
      >
        <option value=""></option>
        <option [ngValue]="t.theatreId" *ngFor="let t of theatres">
          {{ t.theatreName }}
        </option>
      </select>
      <label for="floatingSelectGrid">Select the Theatre</label>
    </div>
  </div>
  <div class="col-sm-10 col-lg-3 m-2">
    <div class="form-floating">
      <select
        class="form-select"
        id="floatingSelectGrid"
        [(ngModel)]="movie.screens.screenId"
      >
        <option value="">Select Screen</option>
        <option [ngValue]="s.screenId" *ngFor="let s of screens">
          {{ s.screenName }}
        </option>
      </select>
      <label for="floatingSelectGrid">Select the Screen</label>
    </div>
  </div>
  
</div>
<div class="container d-flex justify-content-center">
  <div
    class="d-flex justify-content-center align-content-center flex-column flex-wrap"
    style="width: 100%"
  >
    <form class="row g-4">
      <div class="form-group  col-sm-5 col-lg-5  mx-auto" *ngIf="isAdd">
        <label>Movie Id</label>
        <input
          type="text"
          class="form-control"
          name="movieId"
          [(ngModel)]="movie.movieId"
          #movieId="ngModel"
          required
        />
        <div [hidden]="movieId.valid" class="alert alert-danger">
          Movie Id is Required
        </div>
      </div>
      <div class="form-group  col-sm-5 col-lg-5  mx-auto">
        <label>Movie Name</label>
        <input
          type="text"
          class="form-control"
          name="movieName"
          [(ngModel)]="movie.movieName"
          #movieName="ngModel"
          required
        />
        <div [hidden]="movieName.valid" class="alert alert-danger">
          Movie Name is Required
        </div>
      </div>
      <div class="form-group  col-sm-5 col-lg-5  mx-auto">
        <label>Language</label>

        <select
          class="form-select"
          name="language"
          [(ngModel)]="movie.language"
          #language="ngModel"
          aria-required="true"
          required
        >
          <option></option>
          <option>English</option>
          <option>Hindi</option>
          <option>Kannada</option>
          <option>Telugu</option>
          <option>Tamil</option>
          <option>Malayalam</option>
        </select>
        <div [hidden]="language.valid" class="alert alert-danger">
          Language is Required
        </div>
      </div>
      <div class="formgroup  col-sm-5 col-lg-5  mx-auto">
        <label>Genre</label>
        <select
          class="form-select"
          name="movieGenre"
          [(ngModel)]="movie.movieGenre"
          #movieGenre="ngModel"
          required
          aria-required="true"
        >
          <option></option>
          <option>Action</option>
          <option>Action/Drama</option>
          <option>Action/Romance</option>
          <option>Drama</option>
          <option>Thriller</option>
          <option>Action/Thriller</option>
          <option>Comedy</option>
          <option>Romance</option>
          <option>Horror/Romance</option>
          <option>Horror</option>
          <option>Drama/Romance</option>
        </select>
        <div [hidden]="movieGenre.valid" class="alert alert-danger">
          Genre is Required
        </div>
      </div>
      <div class="form-group  col-sm-5 col-lg-5  mx-auto">
        <label>Movie Hours</label>
        <input
          type="text"
          class="form-control"
          name="movieHours"
          [(ngModel)]="movie.movieHours"
          #movieHours="ngModel"
          required
        />
        <div [hidden]="movieHours.valid" class="alert alert-danger">
          Movie Hours is Required
        </div>
      </div>

      <div class="form-group  col-sm-5 col-lg-5  mx-auto">
        <label>Movie Description</label>
        <textarea
          class="form-control"
          rows="3"
          name="description"
          [(ngModel)]="movie.description"
          #description="ngModel"
          required
        >
        </textarea>
        <div [hidden]="description.valid" class="alert alert-danger">
          Description is Required
        </div>
      </div>
      <div class="form-group  col-sm-5 col-lg-5  mx-auto" *ngIf="isAdd">
        <label>Show Date</label>
        <input
          type="date"
          class="form-control"
          name="date"
          [(ngModel)]="movieDate"
          #date="ngModel"
          required
        />
        <div [hidden]="date.valid" class="alert alert-danger">
          Date is Required
        </div>
      </div>
      <div class="form-group  col-sm-5 col-lg-5  mx-auto">
        <div class="form-floating">
          <select
            class="form-select"
            id="floatingSelectGrid"
            [(ngModel)]="show"
            (change)="shows()"
            name="showTiming"
            #showTiming="ngModel"
            required
          >
            <option value="1">Show 1</option>
            <option value="2">Show 2</option>
            <option value="3">Show 3</option>
            <option value="4">Show 4</option>
          </select>
          <label for="floatingSelectGrid">Select the Show</label>
        </div>
        <div [hidden]="showTiming.valid" class="alert alert-danger">
          Show Timing is Required
        </div>
      </div>
      <div class="form-group  col-sm-5 col-lg-5  mx-auto">
        <label>Image Url</label>
        <input
          type="text"
          class="form-control"
          name="image"
          [(ngModel)]="movie.imageLink"
          #image="ngModel"
          required
        />
        <div [hidden]="image.valid" class="alert alert-danger">
          Image Url is Required
        </div>
      </div>
      <div class="form-group  col-sm-5 col-lg-5  mx-auto">
        <label>Movie Trailer</label>
        <input
          type="text"
          class="form-control"
          name="trailer"
          [(ngModel)]="movie.trailer"
          #trailer="ngModel"
          required
        />
        <div [hidden]="trailer.valid" class="alert alert-danger">
          Trailer Link is Required
        </div>
      </div>
      <div class="form-group col-sm-5 col-lg-5 mx-auto">
        <label>Price</label>
        <input
          type="number"
          class="form-control"
          name="price"
          [(ngModel)]="movie.price"
          #price="ngModel"
          required
        />
        <div [hidden]="price.valid" class="alert alert-danger">
          Price is Required
        </div>
      </div>
      <div class="form-group">
        <div class="m-3 d-flex justify-content-center">
          <button
            type="submit"
            (click)="submit()"
            [disabled]="
              !(
                price.valid &&
                description.valid &&
                movieHours.valid &&
                movieName.valid &&
                image.valid&&
                trailer.valid
              )
            "
            class="btn btn-primary"
          >
            {{ toDo }}
          </button>
          &nbsp; &nbsp;
          <button type="button" (click)="cancel()" class="btn btn-primary">
            Cancel
          </button>
          &nbsp; &nbsp;
          <button type="reset" class="btn btn-danger" *ngIf="isAdd">
            Reset</button
          ><button
            type="button"
            (click)="delete()"
            class="btn btn-danger"
            *ngIf="!isAdd"
          >
            Delete<i class="fa fa-trash pull-right m-1" title="Delete"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
